Projeto_TCC[[:space:]]Game[[:space:]]With[[:space:]]Voice[[:space:]]Recognition/Library/AtlasCache/ filter=lfs diff=lfs merge=lfs -text
Projeto_TCC filter=lfs diff=lfs merge=lfs -text
Game filter=lfs diff=lfs merge=lfs -text
With filter=lfs diff=lfs merge=lfs -text
Voice filter=lfs diff=lfs merge=lfs -text
RecognitionLibraryAtlasCache filter=lfs diff=lfs merge=lfs -text
Recognition/Library/metadata/05/05f0bf62dcfb65a4ebd0402151fc3c11 filter=lfs diff=lfs merge=lfs -text
Recognition/Library/metadata/6e/6e1db66fc7e57884380659e0a55351f0 filter=lfs diff=lfs merge=lfs -text
Recognition/Library/AtlasCache/b3/b33e7d3949e8f120e0968a99c04b10d8 filter=lfs diff=lfs merge=lfs -text
Recognition/Library/AtlasCache/fa/fa09bb28462d3f4635e92a457fa07796 filter=lfs diff=lfs merge=lfs -text
Recognition/Library/AtlasCache/17/17e3e73d22176305b8d9a9b783690c5d filter=lfs diff=lfs merge=lfs -text
Recognition/Library/AtlasCache/33/330d79f669c05bd6c9f0b78d58597076 filter=lfs diff=lfs merge=lfs -text
